@theme {
  --color-accent: var(--accent);
  --color-accent-strong: var(--accent-strong);
  --color-accent-weak: var(--accent-weak);
  --color-accent-foreground: var(--accent-foreground);
  --color-base: var(--base);
  --color-base-strong: var(--base-strong);
  --color-base-weak: var(--base-weak);
  --color-base-foreground: var(--base-foreground);
  --color-positive: var(--positive);
  --color-positive-strong: var(--positive-strong);
  --color-positive-weak: var(--positive-weak);
  --color-positive-foreground: var(--positive-foreground);
  --color-negative: var(--negative);
  --color-negative-strong: var(--negative-strong);
  --color-negative-weak: var(--negative-weak);
  --color-negative-foreground: var(--negative-foreground);
  --color-warning: var(--warning);
  --color-warning-strong: var(--warning-strong);
  --color-warning-weak: var(--warning-weak);
  --color-warning-foreground: var(--warning-foreground);
}
