@theme inline {
	--color-accent-light: var(--accent-light);
	--color-accent-strong-light: var(--accent-strong-light);
	--color-accent-weak-light: var(--accent-weak-light);
	--color-accent-foreground-light: var(--accent-foreground-light);
	--color-accent-dark: var(--accent-dark);
	--color-accent-strong-dark: var(--accent-strong-dark);
	--color-accent-weak-dark: var(--accent-weak-dark);
	--color-accent-foreground-dark: var(--accent-foreground-dark);
	--color-surface-light: var(--surface-light);
	--color-surface-strong-light: var(--surface-strong-light);
	--color-surface-weak-light: var(--surface-weak-light);
	--color-surface-foreground-light: var(--surface-foreground-light);
	--color-surface-dark: var(--surface-dark);
	--color-surface-strong-dark: var(--surface-strong-dark);
	--color-surface-weak-dark: var(--surface-weak-dark);
	--color-surface-foreground-dark: var(--surface-foreground-dark);
	--color-positive-light: var(--positive-light);
	--color-positive-strong-light: var(--positive-strong-light);
	--color-positive-weak-light: var(--positive-weak-light);
	--color-positive-foreground-light: var(--positive-foreground-light);
	--color-positive-dark: var(--positive-dark);
	--color-positive-strong-dark: var(--positive-strong-dark);
	--color-positive-weak-dark: var(--positive-weak-dark);
	--color-positive-foreground-dark: var(--positive-foreground-dark);
	--color-negative-light: var(--negative-light);
	--color-negative-strong-light: var(--negative-strong-light);
	--color-negative-weak-light: var(--negative-weak-light);
	--color-negative-foreground-light: var(--negative-foreground-light);
	--color-negative-dark: var(--negative-dark);
	--color-negative-strong-dark: var(--negative-strong-dark);
	--color-negative-weak-dark: var(--negative-weak-dark);
	--color-negative-foreground-dark: var(--negative-foreground-dark);
	--color-warning-light: var(--warning-light);
	--color-warning-strong-light: var(--warning-strong-light);
	--color-warning-weak-light: var(--warning-weak-light);
	--color-warning-foreground-light: var(--warning-foreground-light);
	--color-warning-dark: var(--warning-dark);
	--color-warning-strong-dark: var(--warning-strong-dark);
	--color-warning-weak-dark: var(--warning-weak-dark);
	--color-warning-foreground-dark: var(--warning-foreground-dark);
}
