@theme inline {
	--color-accent-inverted: var(--accent-inverted);
	--color-accent-strong-inverted: var(--accent-strong-inverted);
	--color-accent-weak-inverted: var(--accent-weak-inverted);
	--color-accent-foreground-inverted: var(--accent-foreground-inverted);
	--color-surface-inverted: var(--surface-inverted);
	--color-surface-strong-inverted: var(--surface-strong-inverted);
	--color-surface-weak-inverted: var(--surface-weak-inverted);
	--color-surface-foreground-inverted: var(--surface-foreground-inverted);
	--color-positive-inverted: var(--positive-inverted);
	--color-positive-strong-inverted: var(--positive-strong-inverted);
	--color-positive-weak-inverted: var(--positive-weak-inverted);
	--color-positive-foreground-inverted: var(--positive-foreground-inverted);
	--color-negative-inverted: var(--negative-inverted);
	--color-negative-strong-inverted: var(--negative-strong-inverted);
	--color-negative-weak-inverted: var(--negative-weak-inverted);
	--color-negative-foreground-inverted: var(--negative-foreground-inverted);
	--color-warning-inverted: var(--warning-inverted);
	--color-warning-strong-inverted: var(--warning-strong-inverted);
	--color-warning-weak-inverted: var(--warning-weak-inverted);
	--color-warning-foreground-inverted: var(--warning-foreground-inverted);
}
